{% extends 'base.html.twig' %}

{% block title %}Modifier Objet{% endblock %}

{% block body %}
    <h1>Modifier Objet</h1>

    {{ include('objet/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a class="btn btn-danger" href="{{ path('app_objet_index') }}">Annuler la modification</a>

    {{ include('objet/_delete_form.html.twig') }}
{% endblock %}
