{% extends 'base.html.twig' %}

{% block title %}Nouvel Objet{% endblock %}

{% block body %}
    <h1>Créer un objet</h1>

    {{ include('objet/_form.html.twig') }}

    <a class="btn btn-danger" href="{{ path('app_objet_index') }}">Annuler la création</a>
{% endblock %}
